[submodule "sgi-demos"]
	path = sgi-demos
	url = https://github.com/sgi-demos/sgi-demos.git
[submodule "tinygl"]
	path = tinygl
	url = https://github.com/dsheffie/tinygl.git
	branch = hw-rasterizer-patches
[submodule "hwrast-sdlquake"]
	path = hwrast-sdlquake
	url = https://github.com/dsheffie/hwrast-sdlquake.git
	branch = main
